dist: xenial
language: python
python:
  - "3.6"
  - "3.7"
  - "3.8"
  - "3.9"
# command to install dependencies
install:
  - pip install codecov
  - pip install -e .
  - pip install -r test-requirements.txt
# command to run tests
script:
  - isort -c -rc async_asgi_testclient
  - black --check async_asgi_testclient
  - flake8 async_asgi_testclient
  - pytest --cov=async_asgi_testclient -v --cov-report term-missing async_asgi_testclient
after_success:
  - codecov
